 * {
    box-sizing: border-box;
}

.container {
    padding: 25px;
    width: 400px;
    margin: 0 auto;
}

.search {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.list {
    padding: 0 10px 10px 10px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid #000;
    border-radius: 5px;
}

.listItem {
    padding: 5px;
    margin-top: 10px;
    border: 2px solid cadetblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
